#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.MainContainer {
}

.DetailIconMainTable .DetailIconPriceListTable {
    cursor: pointer;
}

.btnFilterMainTable{
    width: 100%;
}

.MainTableIcon {
    transition: transform 0.3s ease;
}
    .MainTableIcon:hover {
        transform: scale(1.2);
    }

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
